.DS_Store
nimcache/
nimblecache/
htmldocs/
testresults/
.gh-pages/
/tests/*
!/tests/*.nim
!/tests/*.nims
/bin/
build

/postscripts/*
!/postscripts/*.nim
!/postscripts/build.sh
/prescripts/*
!/prescripts/*.nim
!/prescripts/build.sh